
.container-tool{
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(75,75,101,1) 35%, rgba(0,212,255,1) 100%);
}
table {
  width: 100%;
}
.toobar{
  color: #000000;
  gap:10px;
}

.card-tool{
  padding: 30px;
  width: 100vw;
}

.title{
  padding: 20px;
}

.buttons{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.ms-1{
  color: #fff;
  gap: 5px 5px;
  padding: 5px 5px;
}

.fs-4{
  padding: 5px 5px;
}

